<div class="row g-0 event-container my-2" *ngIf="plaguePlot">

    <!-- Title -->
    <div class="col-12 py-3 ps-3">
        <b class="roboto-font-3">
            Información
        </b>
    </div>
    <!-- END Title -->


    <!-- Crop -->
    <div class="col-6 ps-3 mt-2">
        <span class="roboto-font-4 font-color-gray">
            Cultivo:
        </span>
        <b class="roboto-font-4">
            {{(plaguePlot | async)?.varietyProductID?.varietyName}}
        </b>
    </div>
    <!-- END Crop -->


    <!-- cientificName -->
    <div class="col-6 ps-3 mt-2">
        <span class="roboto-font-4 font-color-gray">
            Plaga:
        </span>
        <b class="roboto-font-4">
            {{(plaguePlot | async)?.plagueID?.scientificName}}
        </b>
    </div>
    <!-- END cientificName -->


    <!-- crop week age -->
    <div class="col-6 ps-3 mt-2">
        <span class="roboto-font-4 font-color-gray">
            Edad(semanas):
        </span>
        <b class="roboto-font-4">
            {{(plaguePlot | async)?.cropWeekAge}}
        </b>
    </div>
    <!-- END crop week age -->


    <!-- phenologicalStage -->
    <div class="col-6 ps-3 mt-2">
        <span class="roboto-font-4 font-color-gray">
            Etapa fenológica:
        </span>
        <b class="roboto-font-4">
            {{(plaguePlot | async)?.phenologicalStage}}
        </b>
    </div>
    <!-- END phenologicalStage -->



    <!-- damagePercentage -->
    <div class="col-6 ps-3 mt-2">
        <span class="roboto-font-4 font-color-gray">
            Daño:
        </span>
        <b class="roboto-font-4">
            {{(plaguePlot | async)?.damagePercentage}}
            %
        </b>
    </div>
    <!-- END damagePercentage -->


</div>