<div class="navbar">
    <div class="row">
        <div class="col">
            <p class="text-center">
                <img src="../../../../../../assets/img/public/logo/Logotipo500x500px.png" alt="logoSpectral" height="50">
            </p>
        </div>
        <div class="col">
            <h1 class="roboto-font-0 text-center">
                Spectral Tools
            </h1>
        </div>
        <div class="col">
            <p class="text-center">
                <img src="../../../../../../assets/img/public/logo/logo.svg" alt="logoAgricola" height="50">
            </p>
        </div>
    </div>