<div class="navbar">
    <div class="row">
        <div class="col">
            <p class="text-center">
                <img src="../../../../../../assets/img/public/logo/SpectralToolsLogo2.png" alt="logoSpectral" height="80">
            </p>
        </div>
        <div class="col">
            <!-- <div class = "row"> -->
                <h1 class="roboto-font-0 text-center mt-5 font-color-main">
                    Spectral Tools
                </h1>
            <!-- </div> -->
            <!-- <div class = "row">
                <img src="../../../../../../assets/img/public/logo/hq.png" alt="logoSpectral" height="80">
            </div> -->
        </div>
        <div class="col">
            <p class="text-center">
                <img src="../../../../../../assets/img/public/logo/logo.svg" alt="logoAgricola" height="80">
            </p>
        </div>
    </div>