<div class="main">
    <!-- <img class="imgage" src="../../../../../../assets/img/public/landing/Datos_analizados.png" alt="logoSpectral"> -->
    <!-- <h1 class = "roboto-font-0 text-center" >Total de datos analizados</h1>
    <h4 class = "roboto-font-2 text-center" >500</h4>
    <h1 class = "roboto-font-0 text-center" >Datos a analizar</h1>
    <h4 class = "roboto-font-2 text-center" >4500</h4>
    <div class = "row" >
        <div class = "col">
            <h4 class = "roboto-font-2 text-center" >Firmas fenológicas obtenidas</h4>
            <p class = "text-center">aqui va un logo</p>
        </div>
        <div class = "col">
            <h4 class = "roboto-font-2 text-center" >Firmas de plagas obtenidas</h4>
            <p class = "text-center" >aqui va otro logo</p>
        </div>
    </div> -->
</div>