<div class="container">
  <div class = "row">
    <div class="col">
      <h2 class = "roboto-font-2 font-color-main" >Datos analizados</h2>
      <canvas
        height="50"
        baseChart
        [data]="signData"
        [type]="'bar'"
        [options]="signChartOptions"
      >
      </canvas>

    </div>
  </div>
  <h2 class = "roboto-font-2 font-color-main" >Datos a analizar</h2>
  <div class="row">
    <div class="col">
      <h3 class = "roboto-font-2 font-color-main" >En proceso</h3>
      <canvas
        height="300"
        baseChart
        [data]="processData"
        [type]="'bar'"
        [options]="processChartOptions"
      >
      </canvas>
    </div>
    <div class="col">
      <h3 class = "roboto-font-2 font-color-main" >Obtenidas</h3>
      <canvas
        height="10"
        width="10"
        baseChart
        [data]="obteinData"
        [type]="'doughnut'"
      >
      </canvas>
    </div>
  </div>
</div>
