/* Backgrounds */
.background-color-main-strong {
    background-color: var(--color-main1) !important;
}

.background-color-main {
    background-color: var(--color-main3) !important;
}

.background-color-main-soft {
    background-color: var(--color-main5) !important;
}

.background-color-success {
    background-color: var(--color-success2) !important;
}

.background-color-warning {
    background-color: var(--color-warning2) !important;
}

.background-color-danger {
    background-color: var(--color-danger2) !important;
}

.background-color-info {
    background-color: var(--color-info2) !important;
}

.background-color-gray-strong {
    background-color: var(--color-gray1) !important;
}

.background-color-gray {
    background-color: var(--color-gray3) !important;
}

.background-color-gray-soft {
    background-color: var(--color-gray4) !important;
}

.background-color-white {
    background-color: var(--color-white) !important;
}

.background-color-black {
    background-color: var(--color-black) !important;
}

.background-color-primary {
    background-color: var(--color-primary) !important;
}

.background-color-constrast {
    background-color: var(--constrast-background-color) !important;
}

.background-color-high-constrast {
    background-color: var(--high-constrast-background-color) !important;
}

/* END Backgrounds */
