.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--background-color);
    color: var(--primary-font-color);
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px dashed var(--color-gray3);
    font-family: 'Roboto-Regular', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
