<div class="col-12 py-3 ps-3">
    <b class="roboto-font-2">
        Sistema de Análisis y caracterización
    </b>
</div>

<div class="row">

    <!-- Satellital -->
    <div class="sat-container col-12 py-3 ps-3">
        <app-satellital></app-satellital>
    </div>
    <!-- END Satellital -->

    <!-- Info -->
    <div class="col-12 py-3 ps-3">
        <app-info></app-info>
    </div>
    <!-- END Info -->


    <!-- Points -->
    <div class="col-12 py-3 ps-3">
        <app-points></app-points>
    </div>
    <!-- END Points -->


</div>