<div class="col-12 py-3 ps-3 text-center">
    <b class="roboto-font-0 font-color-main">
        Sistema de Análisis y caracterización
    </b>
</div>

<div class="row">
    <!-- Info -->
    <div class="col-12 py-3 ps-3">
        <app-info></app-info>
    </div>
    <!-- END Info -->


    <!-- Satellital -->
    <div class="sat-container col-12 py-3 ps-3">
        <app-satellital (pointOutput)="point = $event" (polygonOutput)="polygon = $event"></app-satellital>
    </div>
    <!-- END Satellital -->


    <!-- Points -->
    <div class="col-12 py-3 ps-3">
        <app-points [pointInput]="point" [polygonInput]="polygon"></app-points>
    </div>
    <!-- END Points -->
</div>